<div class="mx-auto text-center gap-2">
  <h1 class="text-4xl"> Buy Access </h1>
  <p> You need to buy access to be able to enter this page </p>
  <%= link_to "Buy Now", buy_access_path, class: 'border border-slate-300 border-transparent text-white font-semibold border-solid bg-blue-600 rounded-md hover:bg-blue-700 hover:border-blue-700 hover:text-white sm:mb-0 sm:w-auto p-1 my-3' %>
</div>
